.cast-page {
  .rank-box {
    margin-bottom: $row-space-biger;
    .filter-box {
      margin-bottom: $row-space;
      .total-count-box {
        float:left;
        line-height: 1;
        font-size: 1rem;
        margin-bottom: $row-space-half-half;
        span{
          font-size: 1.5rem;
          font-weight: bold;
          color: $_em_text;
          text-align: center;
          text-shadow: 2px 2px 10px #f7cb47;
        }
      }
      .filter-list {
        width:50%;
        @media screen and (min-width: 320px) and (max-width: 543px){
          width:100%;
        }

        @media screen and (min-width: 545px) and (max-width: 767px){
          width:70%;
        }
        @media screen and (min-width: 768px) and (max-width: 991px){
          width:70%;
        }

        float: right;
        text-align: right;
        .sort {
          display: inline-block;
          margin-right: $row-space;
          .form-control{
            font-size: .7rem;
            height: 1.8rem;
          }
        }
        .order{
          display: inline-block;
          .form-control{
            font-size: .7rem;
            height: 1.8rem;
          }

        }
      }
    }
    .genre-tag{
      width:100%;
      border-bottom: 1px solid $_brand-basic;
      li{
        float:left;
        width:50%;
        text-align: center;
        font-size: 2rem;
        a {
          display: block;
          color: #fff;
          &:hover {
            color: #E2D39F;
            text-shadow: 2px 2px 10px #f7cb47;
            text-decoration: none;
          }
          &.active{
            color: #E2D39F;
            text-align: center;
            position: relative;
            padding-bottom: 0.234375rem;
            border-bottom: 1px solid #E2D39F;
            margin: 0;
            text-shadow: 2px 2px 10px #f7cb47;
            border-bottom: 3px solid $_em_text_hover;
          }
        }
      }
    }

    .queen-soon {
      font-size: 1.5rem;
      color: $_em_text;
      margin: $row-space-bigest 0;
      text-align: center;
    }
  }
  .nohave-box {
    text-align: center;
    font-size: 2rem;
  }
}
.cast-detail-page {
  .nohave-box {
    text-align: center;
    font-size: 2rem;
  }
  .contact{

    dl {
      dt {
        text-align: left;
        color: $_em_text;
      }
      dd{
        a {
          color:#fff;
          &:hover{
            color: $_em_text;
          }
        }

        label {
          margin-right:$row-space;
          span{margin-right:$row-space-half}
        }

      }
    }
    .center-button{
      text-align: center;
      margin: $row-space-bog auto 0;
      .btn-submit {
        background-color: $_sub_text;
        color: $_em_text_hover;
        font-weight: bold;
        &:hover {
          opacity: .7;
        }
      }
    }

  }
  .profile {
    @media screen and (min-width: 320px) and (max-width: 543px){
      dt {
        font-weight : bold;
        padding : .5rem;
        background-color:#222 ;
        color:$_em_text;
      }
      dd {
        padding : .5rem;
        a {
          color:#fff;
          &:hover{
            color: $_em_text;
          }
        }
        label {
          margin-right:$row-space;
          span{margin-right:$row-space-half}
        }

      }
    }

    @media screen and (min-width: 545px) and (max-width: 767px){
      dt {
        font-weight : bold;
        padding : .5rem;
        background-color:#222 ;
        color:$_em_text;
      }
      dd {
        padding : .5rem;
        a {
          color:#fff;
          &:hover{
            color: $_em_text;
          }
        }

        label {
          margin-right:$row-space;
          span{margin-right:$row-space-half}
        }

      }

    }
    @media screen and (min-width: 768px) and (max-width: 991px){
      dt {
        float : left;
        clear : both;
        width : 30%;
        font-weight : bold;
        padding : .5rem;
        background-color:#222 ;
        color: $_em_text;
      }
      dd {
        margin-left : 30%;
        padding : .5rem;
        a {
          color:#fff;
          &:hover{
            color: $_em_text;
          }
        }

        label {
          margin-right:$row-space;
          span{margin-right:$row-space-half}
        }

      }

    }

    @media screen and (min-width: 992px) and (max-width: 1199px){
      dt {
        float : left;
        clear : both;
        width : 20%;
        font-weight : bold;
        padding : .5rem;
        background-color:#222 ;
        color: $_em_text;
      }
      dd {
        margin-left : 20%;
        padding : .5rem;
        a {
          color:#fff;
          &:hover{
            color: $_em_text;
          }
        }

        label {
          margin-right:$row-space;
          span{margin-right:$row-space-half}
        }

      }

    }

    @media (min-width: 1200px) {
      dt {
        float : left;
        clear : both;
        width : 20%;
        font-weight : bold;
        padding : .5rem;
        background-color:#222 ;
        color: $_em_text;
      }
      dd {
        margin-left : 20%;
        padding : .5rem;
        a {
          color:#fff;
          &:hover{
            color: $_em_text;
          }
        }

        label {
          margin-right:$row-space;
          span{margin-right:$row-space-half}
        }

      }

    }
  }
  .profile-box {
    position: relative;
    overflow: hidden;
    .profile-list {
      position: relative;
      overflow: hidden;
      width:100%;
      li {
        @media screen and (min-width: 320px) and (max-width: 543px){
          width: calc(100% - 2px);
        }

        @media screen and (min-width: 545px) and (max-width: 767px){
          width: calc(50% - 4px);
        }
        @media screen and (min-width: 768px) and (max-width: 991px){
          width: calc(50% - 4px);
        }

        @media screen and (min-width: 992px) and (max-width: 1199px){
          width: calc(33.3333% - 4px);
        }

        @media (min-width: 1200px) {
          width: calc(33.3333% - 4px);
        }


        margin: 2px;
        display: block;
        padding: $row-space;
        border: 1px solid #999;
        h3 {
          font-size: 1.1rem;
          font-weight: bold;
          border-bottom: 1px solid #999;
          padding: $row-space-half;
          margin-bottom: $row-space-half;
          background-color: #222;
          color: $_brand-basic;
          position: relative;

        }
        p {
          font-size: 1rem;
          line-height: 1.4em;
          color: $white;
          padding: 4px;
        }
      }
    }
  }

  .cast-detail {
    margin-bottom: $row-space-bog;

    .profile-area {
      width: calc(100% - 336px);
      height: 481px;
      background-color: #222;
      float: right;
      display: inline;
      padding: 3rem;
      position: relative;
      box-sizing: border-box;
      .name-area {
        text-align: center;
        h3 {
          font-size: 2.5rem;
          color: $_em_text;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        p {
          margin: 0;
          padding: 0;
          color: $_em_text;
        }
        .sns-btn {
          margin-bottom: 0;
          label {
            margin-bottom: 0;
            margin-right:$row-space;
            &.notlabel {
              margin-right:0;
            }
          }

        }
        .shop-tags {
          .btn {
            color: $_em_text;
            border-radius: 0;
            &:hover{
              text-shadow: 2px 2px 10px #f7cb47;
            }
          }
        }

        .feature-count, .support-count {
          .feature-count--title, .support-count--title{
            display: inline-block;
            width: 227px;
            text-align: left;
            color: $_em_text;
          }
          .feature-count--count, .support-count--count{
            display: inline-block;
            color: $_em_text;
          }

        }
        .feature {
          display: inline-block;
          margin-right: 1rem;
          padding: 0;
          .btn-feature{
            border: 3px solid $_em_text;
            color: $_em_text;
            width: 100%;
            margin-top:$row-space-half;
            border-radius: 0;
            &:hover{
              border-color: $_basic_text;
              color: $_basic_text;
              background-color: $_brand-basic;
            }
            &.active{
              border-color: $_basic_text;
              color: $_basic_text;
              background-color: $_brand-basic;
            }
          }
        }
      }
      .thumbnail {
        margin-top: $row-space;
        text-align: center;
        .thumbnail--list {
          padding: 0;
          list-style: none;
          display: inline-block;
          width:100%;
          text-align: center;
          li {
            display: inline-block;
            width: 80px;
            margin: 0 1px;
            a {
              outline: none;
              opacity: .3;
              &.active,
              &:hover
              {
                opacity: 1;
              }
              img {
                width:100%;
              }

            }
          }
        }
      }
    }
    .photo-area {
      float:left;
      .fream {
        overflow: hidden;
        position: relative;
        .main-image {
          margin: 0;
          padding: 0;
          img {
            margin: 7px 5px 5px 7px;
            width: 321px;
            height: 466px;
            position: absolute;
            top: 0px;
            left: 0px;
            transition: 1s ease;
            &.target {
              opacity: 1;
            }
            &:not(.target) {
              opacity: 0;
            }
          }
        }
      }
    }
  }
  .detail {
    margin-bottom: $row-space-bog;
    .schedule {
      padding-right: $row-space;
    }
    .option {
      padding-left: $row-space;
    }
  }
  .comment {
    margin-bottom: $row-space-bog;
    p {
      font-size: 1.2rem;
      line-height: 2rem;
      color: #ddd;
      word-wrap: break-word;
      margin: 0;
    }
  }
  .count {
    .feature{
      border: 3px solid #E2D39F;
      color: #E2D39F;
      width: 49%;
      margin-top: 0.46875rem;
      border-radius: 0;
    }

  }
  .some-cast {
    margin-bottom: $row-space-bog;
  }

}
//responsive544767
@media screen and (min-width: 320px) and (max-width: 544px){
  .cast-detail-page {
    .cast-detail {
      .profile-area {
        margin-left: -$row-space;
        margin-right: -$row-space;
        display: block;
        float: none;
        width: calc(100% + 1.875rem);
        height: auto;
        padding:1rem;
        .name-area {
          margin:0;
          h3 {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          p {
          }
          .sns-btn {
            margin-bottom: 0;
            label {
              margin-bottom: 0;
            }
          }
          .shop-tags {
            .btn {
              color: $_em_text;
              border-radius: 0;
              &:hover{
                text-shadow: 2px 2px 10px #f7cb47;
              }
            }
          }

        }
        .thumbnail {
          margin: 0;
          width: calc(100% - 182px);
          position: absolute;
          top: -100%;
          right: 0px;
          text-align: center;
          padding: 0 $row-space;
          .thumbnail--list {
            li {
              width: 40px;
              a {
                &.active,
                &:hover
                {
                }
                img {
                }

              }
            }
          }
        }
      }
      .photo-area {
        float:none;
        margin-left: -$row-space;
        margin-right: -$row-space;
        background-color: #222;
        .fream {
          width: 182px;
          height: 248px;
          border: 5px solid #ad9a58;
          //margin: 0 auto;
          .main-image {
            img {
              width: 100%;
              height: auto;
              margin: 0;
            }
          }
        }
      }
    }
    .detail {
      .schedule {
        padding: 0;
      }
      .option {
        padding: 0;
      }
    }
    .comment {
      margin-bottom: $row-space-bog;
      p {
        margin: 0;
      }
    }
    .some-cast {
    }
  }
}
@media screen and (min-width: 545px) and (max-width: 767px){
  .cast-detail-page {
    .cast-detail {
      .profile-area {
        margin-left: -$row-space;
        margin-right: -$row-space;
        display: block;
        float: none;
        width: calc(100% + 1.875rem);
        height: auto;
        padding:1rem;
        .name-area {
          margin:0;
          h3 {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          p {
          }
          .shop-tags {
            .btn {
              color: $_em_text;
              border-radius: 0;
              &:hover{
                text-shadow: 2px 2px 10px #f7cb47;
              }
            }
          }

        }
        .thumbnail {
          margin: 0;
          width: calc(100% - 182px);
          position: absolute;
          top: -70%;
          right: 0px;
          text-align: center;
          padding: 0 $row-space;
          .thumbnail--list {
            li {
              width: 55px;
              a {
                &.active,
                &:hover
                {
                }
                img {
                }

              }
            }
          }
        }
      }
      .photo-area {
        float:none;
        margin-left: -$row-space;
        margin-right: -$row-space;
        background-color: #222;
        .fream {
          width: 178px;
          height: 250px;
          border: 5px solid #ad9a58;
          //margin: 0 auto;
          .main-image {
            img {
              width: 100%;
              height: auto;
              margin: 0;
            }
          }
        }
      }
    }
    .detail {
      .schedule {
        padding: 0;
      }
      .option {
        padding: 0;
      }
    }
    .comment {
      margin-bottom: $row-space-bog;
      p {
        margin:0;
      }
    }
    .some-cast {
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .cast-detail-page .cast-detail .profile-area .thumbnail{
    text-align: left;

  }
}

@media screen and (min-width: 768px){
  .cast-detail-page .cast-detail .photo-area .fream {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/front/sample/fream-0740dc3af1ee85d973c78822e1f6a7f0e2061a2b760eaebf6f4348df5dc0841b.png);
    width: 336px;
    height: 481px;
  }

}
.cast-page--service{
  position: fixed;
  width: 100%;
  font-size: 1.2rem;
  padding: 1rem;
  background: rgba(0,0,0, .7);
  bottom: 0;
  left:0;
  text-align: center;
  a {
    color: #E2D39F;
    text-shadow: 2px 2px 10px #f7cb47;
  }

}
.blinking{
  -webkit-animation:blink 1s ease-in-out infinite alternate;
  -moz-animation:blink 1s ease-in-out infinite alternate;
  animation:blink 1s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}