.customer-page {
  .side {
    .side--menu-block {
      margin-bottom: $row-space-half;
      padding: $row-space-half-half;
      border: 1px solid $_em_text;
      .side--menu-inner {
        border: 1px solid $_em_text;
        margin-bottom: $row-space-half-half;
        a {
          color: $_brand-basic;
          display: block;
          padding: $row-space-half-half;

          &:hover{
            background-color: #fff;
            text-decoration: none;
          }
          &.active {
            background-color: #fff;
          }
        }
      }
    }
  }


  .rank-box {
    margin-bottom: $row-space-biger;
  }

  .reviews-list{
    .review {
      margin-bottom: $row-space-bog;
      .review--head {
        margin-bottom: $row-space-half;
        border-bottom: 1px solid #ddd;

        h2.head--title {
          font-size: 1.5rem;
          font-weight: bold;
          color: #E2D39F;
          text-shadow: 2px 2px 10px #f7cb47;
        }
        .score-table{
          width:100%;
          th{
            font-size:.9rem;
            @media screen and (min-width: 320px) and (max-width: 543px){
              width:23%;
            }

            @media screen and (min-width: 545px) and (max-width: 767px){
              width:20%;
            }
            @media screen and (min-width: 768px) and (max-width: 991px){
              width:30%;
            }

            @media screen and (min-width: 992px) and (max-width: 1199px){
              width:15%;
            }

            @media (min-width: 1200px) {
              width:12%;
            }

          }
          td.score{font-size:.9rem;width:4%;text-align:right;}
          td.meter {
            padding: $row-space-half;
            width: 80%;
            .meter--out{
              overflow: hidden;
              background: #f2f2f2;
              background: -webkit-linear-gradient(top,#eee,#f6f6f6);
              background: linear-gradient(to bottom,#eee,#f6f6f6);
              background-color: #f3f3f3;
              height: 17px;
              border-radius: 1px;
              box-shadow: inset 0 1px 2px rgba(0,0,0,.4), inset 0 0 0 1px rgba(0,0,0,.1);
              width:100%;
              .meter--bar{
                border-radius: 1px;
                background: #ad9a58;
                background: -webkit-linear-gradient(top,#E2D39F,#ad9a58);
                background: linear-gradient(to bottom,#E2D39F,#ad9a58);
                background-color: #E2D39F;
                height:100%;
              }
            }
          }

        }
        .head-star-box{
          float:left;
          @media screen and (min-width: 320px) and (max-width: 543px){
            width:100%;
          }

          @media screen and (min-width: 545px) and (max-width: 767px){
            width:100%;
          }
          @media screen and (min-width: 768px) and (max-width: 991px){
            width:49%;
          }

          @media screen and (min-width: 992px) and (max-width: 1199px){
            width:49%;
          }

          @media (min-width: 1200px) {
            width:49%;
          }

          .head--star{
            font-size: 1.2rem;
            display: inline-block;
            margin-right: $row-space-half;
            i.active{
              color: $_em_text;
              margin-right:.2rem;
              text-shadow: 0px 0px 10px #f7cb47;
            }
          }
          .head--score {
            display: inline-block;
          }
        }
        .user--review_date {
          text-align: right;
          float:right;
          display: inline;
          font-size: 0.8rem;
          line-height: 2.5;
          @media screen and (min-width: 320px) and (max-width: 543px){
            width:100%;
            .user--name {display: block;}
            .user--review_date {display: block;text-align: left;}
          }

          @media screen and (min-width: 545px) and (max-width: 767px){
            width:100%;
          }
          @media screen and (min-width: 768px) and (max-width: 991px){
            width:49%;
          }

          @media screen and (min-width: 992px) and (max-width: 1199px){
            width:49%;
          }

          @media (min-width: 1200px) {
            width:49%;
          }
        }
      }
      .review--user {
        .user--name {
          background:#222;
          margin-bottom:0;
          padding: 0 $row-space-half;
          a {
            color: #ddd;
            padding:.3rem;
            font-size: 1rem;
            display:table;
            width:100%;
            i{margin-right:.5rem;font-size: 2rem;display:table-cell;width:2.5rem;text-align: left;}
            span{display: table-cell;vertical-align: middle;text-align: left;}
          }
        }
        .user--review_date {
          text-align: right;
          display: inline;
          font-size: 0.8rem;
        }
        @media screen and (min-width: 320px) and (max-width: 543px){
          .user--name {display: block;}
          .user--review_date {display: block;text-align: left;}
        }

      }
      .review--body {
        margin-bottom: $row-space;

        line-height: 1.5;
      }
      .review--footer {
        .footer-text {
          display:inline-block;
          font-size:.9rem;
          color:#999;
          @media screen and (min-width: 544px){
            margin-right:1rem;
          }
        }
        .footer-btn {
          display:inline-block;
          .reference-btn{
            background: #eff0f3;
            background: -webkit-linear-gradient(top,#f7f8fa,#e7e9ec);
            background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
            color:#555;
            font-weight: bold;
            border-radius: 0;
            width: 100%;
            font-size: .7rem;
          }

          @media screen and (min-width: 320px) and (max-width: 543px){
            display:block;
            .reference-btn{
              width:49%;
              &.top{
                margin-bottom: .5rem;
              }
              &.left{
                float:left;
              }
              &.right{
                float:right;
              }
            }
          }
          @media screen and (min-width: 544px){
            display:inline-block;
            .reference-btn{
              width:60px;
              &.left{
                margin-right:1rem;
                marign-bottom:0;
              }
              &.right{

              }
            }
          }


        }
      }
    }
  }
}