@import "bootstrap/scss/bootstrap";
@import "_variables";
@import "home";
@import "cast";
@import "shop";
@import "customer";
@import "system";
@import "comsept";
@import "contact";
@import "feature";
@import "blog";
html {
  overflow-y: scroll;
  @media (max-width: 544px){font-size:16px;}
  @media (min-width: 768px){font-size:14px;}

}
body , html {height: auto;}
body {
  font-family: "ヒラギノ明朝 Pro3","Hiragino Mincho Pro", YuMincho, '游明朝', "MS Mincho", serif;
  background-color: $_basic_background;
  color: #aaa;
}
.main-content {

  @media screen and (min-width: 320px) and (max-width: 543px){
    margin-top:5rem;
  }

  @media screen and (min-width: 545px) and (max-width: 767px){
    margin-top:5rem;
  }
  @media screen and (min-width: 768px) and (max-width: 991px){
    margin-top:9rem;
  }

  @media screen and (min-width: 992px) and (max-width: 1199px){
    margin-top:9rem;
  }

  @media (min-width: 1200px) {
    margin-top:9rem;
  }
}
ol, ul, dl {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

a, button {
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
}
.img {
  width: 100%;
  height: auto;
}

.scroll-top {
  bottom: 4rem;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 1.5rem;
  z-index: 888;
  background: #222;
  @include border-radius(100%);
  width: 50px;
  height: 50px;
  text-decoration: none;
  text-align: center;
  a{
    outline: none;
    &:hover {
      opacity: .7;
    }
  }
  i{
    font-size: 1.5rem;
    color: $_em_text;
  }
  p{
    color: $_em_text;
    font-weight:bold;
    font-size: .8rem;
    margin: -5px 0 0;
  }
}

.breadcrumb {
  padding: 0;
  margin-top: $row-space-bog;
  margin-bottom: $row-space;
  list-style: none;
  background-color: transparent;
  border-radius: 0;

  a {
    color: $_em_text;
    &:hover{
      text-decoration: none;
      color: $_em_text_hover;
    }
  }
  > li + li::before {
    font-family: FontAwesome;
    content: "\f105";
    padding-right: .5rem;
    padding-left: .5rem;
    color: $_em_text;
  }

}
.res-separate-table {
  border-collapse: collapse;
  width: 100%;
  border:1px solid $_basic-border;
  & > caption {
    padding: 0.75rem;
    color: $_brand-basic;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#720e0a+0,020202+100,020202+100,f4f4f4+100 */
    background: #720e0a; /* Old browsers */
    background: -moz-linear-gradient(left,  #720e0a 0%, #020202 100%, #020202 100%, #f4f4f4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #720e0a 0%,#020202 100%,#020202 100%,#f4f4f4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #720e0a 0%,#020202 100%,#020202 100%,#f4f4f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#720e0a', endColorstr='#f4f4f4',GradientType=1 ); /* IE6-9 */
    margin-bottom: $row-space-half;
    border-left: 3px solid $_brand-basic;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .3px;
    line-height: normal;
    text-transform: uppercase;
    caption-side: top;
  }
  & th, & td {
    padding: .5rem;
    border: 1px solid $_basic-border;
    text-align: center;
    font-weight: normal;
  }
  & th{
    background-color: #222;
    color: $_em_text_hover;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    font-size: .7rem;
  }
  & td {
    > .ask {
      color: $_basic-title;
    }
  }
  @media screen and (max-width: 768px) {
    & {border: none;
      & > thead{display: none;}
      &  tr {border-top: 1px solid #999;display: block;margin-bottom: 20px;}
      & td{border-right: 1px solid #999;border-bottom: 1px solid #999;display: block;padding: 10px;text-align: left;
        &::before {content: attr(data-label);float: left;font-weight: bold;margin-right:1rem;}
      }
    }
  }
}
.uib-daypicker,.uib-timepicker{
  padding:5px;
  & > tbody > tr > td > a{padding:0;}
  th,td{padding:0;text-align: center;
    .btn-default{background-color: #fff;color:#555;
      &:hover{background-color: #eee;}
    }
    .uib-left{
      .glyphicon-chevron-left{
        &:before{font-family: FontAwesome;content: "\f104";display: inline-block;padding-right: 10px;vertical-align: middle;}
      }
    }
    .uib-right{
      .glyphicon-chevron-right{
        &:before{font-family: FontAwesome;content: "\f105";display: inline-block;padding-right: 10px;vertical-align: middle;}
      }
    }
  }
  .hours,.minutes, .uib-separator{text-align: center;padding-right:5px;
    .glyphicon-chevron-up{
      &:before{font-family: FontAwesome;content: "\f106";display: inline-block;padding-right: 10px;vertical-align: middle;}
    }
    .glyphicon-chevron-down{
      &:before{font-family: FontAwesome;content: "\f107";display: inline-block;padding-right: 10px;vertical-align: middle;}
    }
  }
}
.uib-yearpicker > table > tbody > tr > td > button{padding:0.375rem .2rem;}
.uib-yearpicker, .uib-monthpicker{
  & > table{width:100%;

    th{
      .uib-left{
        .glyphicon-chevron-left{
          &:before{font-family: FontAwesome;content: "\f104";display: inline-block;padding-right: 10px;vertical-align: middle;}
        }
      }
      .uib-right{
        .glyphicon-chevron-right{
          &:before{font-family: FontAwesome;content: "\f105";display: inline-block;padding-right: 10px;vertical-align: middle;}
        }
      }

    }
    td,th{
      .btn-default{background-color: #fff;color:#555;
        &:hover{background-color: #eee;}
      }
    }
    th,td{padding:5px;text-align: center;
      .btn-default{background-color: #fff;color:#555;
        &:hover{background-color: #eee;}
      }
      .uib-left{
        .glyphicon-chevron-left{
          &:before{font-family: FontAwesome;content: "\f104";display: inline-block;padding-right: 10px;vertical-align: middle;}
        }
      }
      .uib-right{
        .glyphicon-chevron-right{
          &:before{font-family: FontAwesome;content: "\f105";display: inline-block;padding-right: 10px;vertical-align: middle;}
        }
      }
    }
    .hours,.minutes, .uib-separator{text-align: center;padding-right:5px;
      .glyphicon-chevron-up{
        &:before{font-family: FontAwesome;content: "\f106";display: inline-block;padding-right: 10px;vertical-align: middle;}
      }
      .glyphicon-chevron-down{
        &:before{font-family: FontAwesome;content: "\f107";display: inline-block;padding-right: 10px;vertical-align: middle;}
      }
    }

  }
}


.res-form-table,
.data-table {
  border-collapse: collapse;
  width: 100%;
  border:1px solid $_basic-border;
  margin-bottom: $row-space-bog;
  & > caption {
    padding: 0.75rem;
    color: $_brand-basic;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#720e0a+0,020202+100,020202+100,f4f4f4+100 */
    background: #720e0a; /* Old browsers */
    background: -moz-linear-gradient(left,  #720e0a 0%, #020202 100%, #020202 100%, #f4f4f4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #720e0a 0%,#020202 100%,#020202 100%,#f4f4f4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #720e0a 0%,#020202 100%,#020202 100%,#f4f4f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#720e0a', endColorstr='#f4f4f4',GradientType=1 ); /* IE6-9 */
    margin-bottom: $row-space-half;
    border-left: 3px solid $_brand-basic;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .3px;
    line-height: normal;
    text-transform: uppercase;
    caption-side: top;
  }

  & th, & td {
    padding: $row-space;
    border: 1px solid $_basic-border;
    text-align: left;
    font-weight: normal;

  }
  & th {
    background-color: #222;
    color: $_em_text_hover;
    text-align: center;
    width: 50%;
    vertical-align: middle;
    font-weight: normal;
    .title {
      float: left;
    }
    .required {
      float:right;
      background-color: $_sub_text;
      //color: #fff;
      padding: .2rem .5rem;
      font-size: 0.7rem;
      border-radius: 0.2rem;
    }
  }
  td{
    .error{
      text-align: left;
      margin-top:$row-space-half;
      color: $_em_text;
    }
  }
  & .res-form-table__th{
   .title{float: left;}
    .absolutely{float: right;}
  }
  & td.res-form-table__td{
    .dropdown-menu{
      .uib-daypicker{padding:5px;th,td{padding:0;
        .btn-default{background-color: #fff;color:#555;
          &:hover{background-color: #eee;}
        }
      }
      }
    }

  }
  @media screen and (max-width: 767px) {
    & th, & td {
      border-top: 1px solid $_basic-border;
      border-right: none;
      border-bottom: 1px solid $_basic-border;
      border-left: none;
    }
    & td.parent-td {
      display: block;
      width: 100% !important;
    }
    & th.parent-th {
      display: block;
      width: 100% !important;
    }
  }
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11 {
  .col-row-right {
    margin-left: -$row-space-half;
  }
  .col-row-left {
    margin-right: -$row-space-half;
  }
}
@media screen and (min-width: 320px) and (max-width: 543px){
  .col-xs-12 {
    .col-minus {
      margin-right: -$row-space !important;
      margin-left: -$row-space !important;
    }
    .col-row-right {
      margin-right: 0;
      margin-left: 0;
    }
    .col-row-left {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 544px) and (max-width: 767px){
  .col-sm-12 {
    .col-minus {
      margin-right: -$row-space !important;
      margin-left: -$row-space !important;
    }
    .col-row-right {
      margin-right: 0;
    }
    .col-row-left {
      margin-left: 0;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .col-md-12 {
    .col-minus {
      margin-right: -$row-space !important;
      margin-left: -$row-space !important;
    }
    .col-row-right {
      margin-right: 0;
    }
    .col-row-left {
      margin-left: 0;
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
  .col-lg-12 {
    .col-minus {
      margin-right: -$row-space !important;
      margin-left: -$row-space !important;
    }
    .col-row-right {
      margin-right: 0;
    }
    .col-row-left {
      margin-left: 0;
    }
  }
}

@media (min-width: 1200px) {
  .col-xl-12 {
    .col-minus {
      margin-right: -$row-space !important;
      margin-left: -$row-space !important;
    }
    .col-row-right {
      margin-right: 0;
    }
    .col-row-left {
      margin-left: 0;
    }
  }
}

.page-title {
  padding-bottom: 0.04rem;
  margin-bottom: $row-space-bog;
  border-bottom: 1px solid $_em_text_hover;
  .title {
    color: $_em_text;
    text-align: center;
    position: relative;
    padding-bottom: $row-space-half-half;
    border-bottom: 1px solid $_em_text;
    margin: 0;
    text-shadow: 2px 2px 10px #f7cb47;
    @media screen and (min-width: 320px) and (max-width: 543px){
      font-size: 1.5rem;
    }

    @media screen and (min-width: 545px) and (max-width: 767px){
      font-size: 1.2rem;
    }
    @media screen and (min-width: 768px) and (max-width: 991px){
      font-size: 1.5rem;
    }

    @media screen and (min-width: 992px) and (max-width: 1199px){
      font-size: 1.5rem;
    }

    @media (min-width: 1200px) {
      font-size: 1.5rem;
    }


    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: image-url('front/title-left.png');
      width: 6rem;
      height: 2rem;
      @media screen and (min-width: 545px) and (max-width: 767px){
        width: 3rem;
        height: 1rem;
      }

      @media screen and (min-width: 320px) and (max-width: 543px){
        display: none;
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: image-url('front/title-right.png');
      width: 6rem;
      height: 2rem;
      @media screen and (min-width: 545px) and (max-width: 767px){
        width: 3rem;
        height: 1rem;
      }
      @media screen and (min-width: 320px) and (max-width: 543px){
        display: none;
      }

    }

  }

}
.move-menu{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
#footer{
  padding: 2rem 0 0;
  background-color: #222;
  .copyright {
    font-size: .7rem;
    text-align: right;
    color: #fff;
  }
  .aside-box {
    .site--list {
      width: 100%;
      li {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        @media screen and (min-width: 320px) and (max-width: 991px){
          width: 100%;
        }

        line-height: 2rem;
        a {
          color: $_em_text;
          display: block;
          padding: 0;
          text-decoration: none;
          &:hover,
          &:focus {
            font-weight: normal;
            text-shadow: 2px 2px 10px #f7cb47;
          }
        }

      }
    }
    .aside--list {
      width: 100%;
      li{
        display: inline-block;
        vertical-align: top;
        width: 33.333%;
        line-height: 2rem;
        dl {
          dt{

          }
          dd{
            margin-left:1rem;
          }
        }
        a {
          color: $_em_text;
          display: block;
          padding: 0;
          text-decoration: none;
          &:hover,
          &:focus {
            font-weight: normal;
            text-shadow: 2px 2px 10px #f7cb47;
          }
        }
      }
    }

  }
  .footer-logo {
    text-align: right;
    margin-top: 4rem;
    @media screen and (min-width: 320px) and (max-width: 991px){
      margin-top: 0;
    }
    img{
      height:60px;
    }

  }
}

#header {
  .header--main {
    background-color: rgba(0,0,0,0.7);
    padding: 0;
    .header-top {
      background-color: rgba(114,14,10,0.7);
      padding: 0 0 $row-space-half-half;
      @media screen and (min-width: 320px) and (max-width: 767px){
        display:none;
      }
      .site-title {
        float:left;
        font-size: .7rem;
        padding: .3rem 0 0;
        margin: 0;
      }

      .top-list {
        float:right;
        li{
          float:left;
          text-align: right;
          margin-left: $row-space-half;
          line-height: 1;
          a{
            color: #fff;
            font-size:.7rem;
          }
        }
      }
    }
    .site-top-box{
      background-color: $_sub_text;
      height:1.8rem;
      .site-link {
        float:left;
        width:50%;
        li{
          float:left;
          a {
            color: #fff;
            padding: $row-space
          }
        }
      }
    }
    @media screen and (min-width: 320px) and (max-width: 665px){
      .header-container{margin-left: 3rem;}
    }

    .site {

      .site--title {
        font-size: .9rem;
        margin-bottom: $row-space-half-half;
      }
      .site--logo {
        display: inline-block;
        margin-bottom: $row-space-half-half;
        @media screen and (min-width: 320px) and (max-width: 492px){
          margin-bottom: 0 !important;
        }

        img {
          height:3rem;
        }
      }
      .site--count{
        display: inline-block;
        float: right;
        vertical-align: bottom;

        .tel-number{
          margin: .6rem 0 0;
          display: inline-block;
          transition: none;
          &:hover{
            border-bottom: 2px solid $_em_text_hover;
          }
          img{height:2rem;}
          @media screen and (min-width: 320px) and (max-width: 479px){
            margin: 0 0 $row-space-half-half;
            img{height:1.2rem;}
          }
          @media screen and (min-width: 480px) and (max-width: 767px){
            margin: .8rem 0 0;
            img{height:1.2rem;}
          }

          @media screen and (min-width: 768px) and (max-width: 991px){
            margin: .8rem 0 0;
            img{height:1.5rem;}
          }
        }
      }
      .site--count-list {
        @media screen and (min-width: 320px) and (max-width: 767px){
          display: none;
        }
        float: right;
        margin-top:.5rem;
        li{
          float:left;
          margin-left: $row-space;
          .count--title{
          }
          .count--count{
            font-size: 1.5rem;
            color: $_em_text_hover;
            font-weight: bold;
          }

        }
      }
      @media screen and (min-width: 320px) and (max-width: 544px){
        .site--logo {
          display: inline-block;
          text-align: center;
          margin-bottom: $row-space-half-half;
        }
      }
    }
    .business-hours {
      float: right;
      color: $_basic_text;
      @media screen and (min-width: 320px) and (max-width: 544px){
        display: none;
      }
      p {
        text-align: right;
        margin: 0;
      }
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 767px){
  #toggle-sidebar {
    position: absolute;
    top:0;
    left:0;
    margin: 0 $row-space-half 0;
    background: transparent;
    font-size: 1.5rem;
  }
  .sidebarPushRight {
    left: 0 !important;
  }
}
@media screen and (min-width: 768px){
  #toggle-sidebar { display: none; }
}
#nav {
  background-color: rgba(0,0,0,0.7);
  @media screen and (min-width: 320px) and (max-width: 767px){
    position: fixed;
    z-index: 3;
    background: #222;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow-y: scroll;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .nav--list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: calc(100% + 1.875rem);
    display: block;
    @media screen and (min-width: 320px) and (max-width: 767px){
      margin: 0 -0.9375rem;
    }
    .display-mobile{
      display: block;
      @media screen and (min-width: 768px){
        display: none;
      }
    }
    li {
      float:left;
      text-align: center;
      border-right: 1px solid $gray-dark;
      width: 12.2857143%;
      position: relative;
      @media screen and (min-width: 320px) and (max-width: 767px){
        float: none;
        width: 100%;
        text-align: left;
        border-right: none;
        &.google_search{
          display: block !important;
        }
      }
      &.google_search{
        display: none;
      }

      &:last-child {
        border-right: none;
      }
      a {
        padding:.2rem .2rem;
        @media screen and (min-width: 320px) and (max-width: 767px){
          padding: .5rem 2.58rem;

        }

        color: $_em_text;
        display: block;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        .main {
          font-size: 1rem;
          margin-bottom: 0;
        }
        .sub {
          font-size: .7rem;
          display: block;
        }
        &:hover ,
        &:focus,
        &.active{
          text-decoration: none;
          color: $_em_text_hover;
          background-color: rgba(55,58,60,0.5)
        }
      }
      &:hover > .sub-nav--list{
        display: block;
        height: auto;

      }

      .sub-nav--list {
        display: none;
        width:100%;
        position: absolute;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        li {
          display: block;
          width: 100%;
          border: none;
          a {
            padding:.5rem 0;
          }
        }
        @media screen and (max-width: 767px) and (min-width: 320px){
          display: block;
          height: 0;
          overflow: hidden;
          position: relative;
        }

        @media screen and (max-width: 767px) and (min-width: 320px){
          &.sub-active {
            position: static;
            overflow: hidden;
            height: auto;
            li{
              a{
                padding: .5rem 3.5rem;
              }
            }
          }
        }

      }
    }
  }
  @media screen and (min-width: 320px) and (max-width: 767px){
    .close {
      background: #777;
      width: 3rem;
      height: 3rem;
      position: absolute;
      z-index: 3;
      top: 0;
      right: 0;
    }
  }
  @media screen and (min-width: 767px){
    .close { display: none; }
  }
}
#main {
  .queen-list {
    padding: 0;
    list-style: none;
    margin: 0 1.56rem;
    li {
      float:left;
      margin-right:$row-space;
      .fream {
        .fream--basic {
          background-repeat: no-repeat;
          background-size: 100%;
          position: absolute;
          width: 50px;
          height: 65px;
          z-index: 1;
        }
        .fream--top-left {
          background-image: image-url('front/top-left.png');
          top: 0;
          left: 4px;

        }
        .fream--top-right {
          background-image: image-url('front/top-right.png');
          top: -1px;
          right: 5px;
        }
        .fream--bottom-left {
          background-image: image-url('front/bottom-left.png');
          bottom: -5px;
          left: 3px;
        }
        .fream--bottom-right {
          background-image: image-url('front/bottom-right.png');
          bottom: -8px;
          right: 4px;
        }

        a {
          display: block;
          margin: 4px 5px 5px 4px;
          opacity: 1;
          &:hover {
            opacity: .3;
          }
          img {
            width: 191px;
            height: 277px;
          }
        }
      }
      .profile {
        margin-bottom: $row-space;
        text-align: center;
        .shop-name {
          margin: 0;
          font-size: 1rem;
          border-bottom: 1px solid $_basic-title;
          padding-bottom: $row-space-half-half;
          margin-bottom: $row-space-half;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width:100%;
          height:1.3rem;
          a {
            color:#fff;
            &:hover{
              color: $_em_text;
            }
          }
        }
        .name {
          font-size: 1rem;
          margin: 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-align: left;
          > span{
            padding: .2rem .2rem .1rem .3rem;
            background-color: #fff;
            margin-left: .5rem;
            display: inline-block;
            float:right;
            > i {
              color: #ddd;
              text-shadow: -1px -1px 0px #333, 1px 1px 1px #fff;
              &.active {
                color: #fd548d;
              }
            }
          }
        }
        .body ,.rank {
          font-size: 1rem;
          .favorid,  .support{
            .title {
              float:left;
              text-align: left;
              font-size: .7rem;
              margin: 0;
            }
            .count {
              float:right;
              text-align: right;
              font-size: 1rem;
              color: $_em_text_hover;
              font-weight: bold;
              margin: 0;
              line-height: 1;
            }
          }
        }
      }

    }
  }
  @media screen and (min-width: 320px) and (max-width: 567px){
    .queen-list {
      margin: 0;
      li{
        width:calc(50% - 0.46875rem);
        &:nth-child(2n) {
          margin-right: 0;
        }
        .fream {
          overflow: hidden;
          position: relative;
          width: 100%;
          border: 5px solid $_em_text_hover;
          margin-bottom: .5rem;
          .fream--basic {
            width: 40px;
            height: 54px;
          }

          .fream--top-left{
            top: -4px;
            left: 0px;
          }
          .fream--top-right {
            top: -4px;
            right: -1px;
          }
          .fream--bottom-left{
            bottom: -9px;
            left: -1px;
          }
          .fream--bottom-right {
            bottom: -13px;
            right: 0px;
          }
          a {
            margin:0;
            img {
              width:100%;
              height: auto;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 568px) and (max-width: 767px){
    .queen-list {
      margin: 0;
      li{
        width:calc(32.1% - 0.234375rem);
        &:nth-child(3n) {
          margin-right: 0;
        }
        .fream {
          overflow: hidden;
          position: relative;
          width: 100%;
          border: 5px solid $_em_text_hover;
          margin-bottom: .5rem;
          .fream--basic {
            width: 40px;
            height: 54px;
          }

          .fream--top-left{
            top: -4px;
            left: 0px;
          }
          .fream--top-right {
            top: -4px;
            right: -1px;
          }
          .fream--bottom-left{
            bottom: -9px;
            left: -1px;
          }
          .fream--bottom-right {
            bottom: -13px;
            right: 0px;
          }
          a {
            margin:0;
            img {
              width:100%;
              height: auto;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 991px){
    .queen-list {
      margin: 0 2.4rem;
      li{
        &:nth-child(3n) {
          margin-right: 0;
        }
        .fream {
          overflow: hidden;
          position: relative;
          background-size: 100%;
          background-repeat: no-repeat;
          background-image: image-url('front/fream.png');
          width: 200px;
          height: 286px;
          margin-bottom: .5rem;
        }
      }
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1199px){
    .queen-list {
      margin: 0 2rem;
      li{
        &:nth-child(4n) {
          margin-right: 0;
        }
        .fream {
          overflow: hidden;
          position: relative;
          background-size: 100%;
          background-repeat: no-repeat;
          background-image: image-url('front/fream.png');
          width: 200px;
          height: 286px;
          margin-bottom: .5rem;
        }
      }
    }
  }
  @media screen and (min-width: 1200px){
    .queen-list {
      margin: 0 1.56rem;
      li{
        &:nth-child(5n) {
          margin-right: 0;
        }
        .fream {
          overflow: hidden;
          position: relative;
          background-size: 100%;
          background-repeat: no-repeat;
          background-image: image-url('front/fream.png');
          width: 200px;
          height: 286px;
          margin-bottom: .5rem;
        }
      }
    }
  }

}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding: 0 0 2px !important;;
  border: none !important;;
  border-radius: 0 !important;;
  -webkit-appearance: none !important;;
  box-shadow: inset 0 -2px 0 $_sub_text !important;
  font-size: 1rem !important;;
  background-color: #000 !important;
  color:#fff;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s !important;;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s !important;;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s !important;;
  transition: border linear 0.2s, box-shadow linear 0.2s !important;;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  box-shadow: inset 0 -2px 0 $_em_text_hover !important;;
  color: #fff  !important;
}
.modal-content{
  background-color: #222;
  border-radius: 0;
  .modal-header {
    padding: $row-space-half $row-space;
    border-bottom: 1px solid #333;
    .modal-title {
      font-size: 1.2rem;
      color: $_em_text;
    }
    .close{
      margin-top: -$row-space-half;
      margin-right: -$row-space;
      background: #777;
      width: 2rem;
      height: 2rem;
    }
  }
  .modal-body {
    padding: $row-space;
    .data-table-box {
      .res-form-table,
      .data-table {
        border-collapse: collapse;
        width: 100%;
        border:1px solid $_basic-border;
        margin-bottom: $row-space-bog;
        & > caption {
          padding: 0.75rem;
          color: $_brand-basic;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#720e0a+0,020202+100,020202+100,f4f4f4+100 */
          background: #720e0a; /* Old browsers */
          background: -moz-linear-gradient(left,  #720e0a 0%, #020202 100%, #020202 100%, #f4f4f4 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left,  #720e0a 0%,#020202 100%,#020202 100%,#f4f4f4 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right,  #720e0a 0%,#020202 100%,#020202 100%,#f4f4f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#720e0a', endColorstr='#f4f4f4',GradientType=1 ); /* IE6-9 */
          margin-bottom: $row-space-half;
          border-left: 3px solid $_brand-basic;
          font-size: 1rem;
          font-weight: 600;
          letter-spacing: .3px;
          line-height: normal;
          text-transform: uppercase;
          caption-side: top;
        }

        & th, & td {
          padding: $row-space;
          border: 1px solid $_basic-border;
          text-align: center;
          font-weight: normal;

        }
        & th {
          background-color: #222;
          color: $_em_text_hover;
          text-align: center;
          width: 50%;
          vertical-align: middle;
          font-weight: normal;
          .title {
            float: left;
          }
          .required {
            float:right;
            background-color: $_sub_text;
            //color: #fff;
            padding: .2rem .5rem;
            font-size: 0.7rem;
            border-radius: 0.2rem;
          }
        }
        td{
          .error{
            text-align: left;
            margin-top:$row-space-half;
            color: $_em_text;
          }
        }
        & .res-form-table__th{
          .title{float: left;}
          .absolutely{float: right;}
        }
        & td.res-form-table__td{
          .dropdown-menu{
            .uib-daypicker{padding:5px;th,td{padding:0;
              .btn-default{background-color: #fff;color:#555;
                &:hover{background-color: #eee;}
              }
            }
            }
          }

          .icon-location_image{
            background-image:image-url('business/ico_location_map_opend.png');
            background-size:80%;
            background-repeat: no-repeat;
            width:90px;
            height:90px;
            position: relative;
            margin:0 auto;
            > .capsule-image{width: 50px;height: 50px;padding: 1px;border-radius: 100%;position: absolute;top:10px;left:11px;}
          }
        }
        @media screen and (max-width: 767px) {
          & th, & td {
            border-top: 1px solid $_basic-border;
            border-right: none;
            border-bottom: 1px solid $_basic-border;
            border-left: none;
          }
          & td.parent-td {
            display: block;
            width: 100% !important;
          }
          & th.parent-th {
            display: block;
            width: 100% !important;
          }
        }
      }

      .login-customer-left,
      .login-customer-right {
        width: 48%;
        a {
          background-color: $_sub_text;
          width:100%;
          color: #fff;
        }
      }
      .login-customer-left {
        float:left;
      }
      .login-customer-right {
        float:right;
      }
      .col-12-btn{
        width:100%;
        a{
          background-color: $gray;
          color:#fff;
          width:100%;
        }
      }
      .col-6-btn {
        width: 50%;
        a{
          background-color: $gray;
          color:#fff;
          width:100%;
        }
      }
    }
    .modal--error {
      .button-center{
        width: 150px;
        margin: 0 auto;
        .main-btn{
          width:100%;
          background-color: $_sub_text;
          color: $_em_text_hover;
          font-weight: bold;
          &:hover {
            opacity: .7;

          }

        }
      }
    }

  }
}
.slick-prev {
  left: 0;
  z-index: 2;
  height: 3rem;
  width: 3rem;
  background-color: #222;
  opacity: .6;
}
.slick-next {
  right: 0;
  height: 3rem;
  width: 3rem;
  background-color: #222;
  opacity: .6;
}
.slick-slide {
  padding: 0 $row-space-half;
}
.pagination-content {
  text-align: center;
  li{
    a{
      border-radius: 0 !important;
      margin: 0 .1rem;
      color: $_em_text_hover;
      &:hover{
        color: #fff;
        text-decoration: none;
      }
    }
  }
  .page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
    background-color: $_sub_text;
    border-color: $_sub_text;
  }
  .pagination-sm .page-link {
    background-color: transparent;
    border: 1px solid $_em_text_hover;
  }
}
.rzslider .rz-pointer{
  background-color: $_em_text_hover;
}
.rzslider .rz-pointer:after{
  background-color: $_em_text;
}
.center-button {
  text-align: center;
  margin: 2rem auto;
}
.btn-submit {
  background-color: $_sub_text;
  color: $_em_text_hover;
  font-weight: bold;
  &:hover {
    opacity: .7;
    color: $_em_text_hover;

  }
}
.loading{
  position:relative;margin:auto;transform:scale(0.6);-o-transform:scale(0.6);-ms-transform:scale(0.6);-webkit-transform:scale(0.6);-moz-transform:scale(0.6);
}

.loading .f_circleG{
  position:absolute;
  background-color:rgb(255,255,255);
  animation-name:f_fadeG;
  -o-animation-name:f_fadeG;
  -ms-animation-name:f_fadeG;
  -webkit-animation-name:f_fadeG;
  -moz-animation-name:f_fadeG;
  animation-duration:1.2s;
  -o-animation-duration:1.2s;
  -ms-animation-duration:1.2s;
  -webkit-animation-duration:1.2s;
  -moz-animation-duration:1.2s;
  animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
}

.loading #frotateG_01{
  left:0;animation-delay:0.45s;-o-animation-delay:0.45s;-ms-animation-delay:0.45s;-webkit-animation-delay:0.45s;-moz-animation-delay:0.45s;
}

.loading #frotateG_02{
  animation-delay:0.6s;-o-animation-delay:0.6s;-ms-animation-delay:0.6s;-webkit-animation-delay:0.6s;-moz-animation-delay:0.6s;
}

.loading #frotateG_03{
  top:0;animation-delay:0.75s;-o-animation-delay:0.75s;-ms-animation-delay:0.75s;-webkit-animation-delay:0.75s;-moz-animation-delay:0.75s;
}

.loading #frotateG_04{
  animation-delay:0.9s;-o-animation-delay:0.9s;-ms-animation-delay:0.9s;-webkit-animation-delay:0.9s;-moz-animation-delay:0.9s;
}

.loading #frotateG_05{
  right:0;animation-delay:1.05s;-o-animation-delay:1.05s;-ms-animation-delay:1.05s;-webkit-animation-delay:1.05s;-moz-animation-delay:1.05s;
}

.loading #frotateG_06{
  right:15px;bottom:15px;animation-delay:1.2s;-o-animation-delay:1.2s;-ms-animation-delay:1.2s;-webkit-animation-delay:1.2s;-moz-animation-delay:1.2s;
}

.loading #frotateG_07{
  bottom:0;animation-delay:1.35s;-o-animation-delay:1.35s;-ms-animation-delay:1.35s;-webkit-animation-delay:1.35s;-moz-animation-delay:1.35s;
}

.loading #frotateG_08{
  animation-delay:1.5s;-o-animation-delay:1.5s;-ms-animation-delay:1.5s;-webkit-animation-delay:1.5s;-moz-animation-delay:1.5s;
}


@keyframes f_fadeG{
  0%{background-color:rgb(0,0,0);}

  100%{background-color:rgb(255,255,255);}
}

@-o-keyframes f_fadeG{
  0%{background-color:rgb(0,0,0);}

  100%{background-color:rgb(255,255,255);}
}

@-ms-keyframes f_fadeG{
  0%{background-color:rgb(0,0,0);}

  100%{background-color:rgb(255,255,255);}
}

@-webkit-keyframes f_fadeG{
  0%{background-color:rgb(0,0,0);}

  100%{background-color:rgb(255,255,255);}
}

@-moz-keyframes f_fadeG{
  0%{background-color:rgb(0,0,0);}

  100%{background-color:rgb(255,255,255);}
}
.footer-box{
  margin-top:30px;
  bottom: 0;
  height: 5rem;
  position: absolute;
  width: 100%;height:3rem;
  padding:1rem;
  text-align: right;
  background-color: #dedfde;
}
.fb_iframe_widget iframe {
  height:72px !important;
}


/*!
 * angular-loading-bar v0.9.0
 * https://chieffancypants.github.io/angular-loading-bar
 * Copyright (c) 2016 Wes Cruver
 * License: MIT
 */

/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: #736357;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #E2D39F 1px 0 6px 1px;
  -ms-box-shadow: #E2D39F 1px 0 6px 1px;
  -webkit-box-shadow: #E2D39F 1px 0 6px 1px;
  box-shadow: #E2D39F 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 10px;
  left: 10px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  $_brand-basic;
  border-left-color: $_brand-basic;
  border-radius: 50%;

  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn{
  height: 2.4rem;
  padding-left:1rem !important;
}
 input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
  height: 2.4rem;
  padding-left:1rem !important;
}
textarea {

}
.btn-xs{padding: 0.1rem 0.5rem;font-size: 0.5rem;line-height: 1.5;border-radius: 0.2rem;}
.btn-danger{
  color: #fff;
  background-color: $_sub_text;
  border-color: $_sub_text;
}
.nohave-box {
  text-align: center;
  font-size: 1.5rem;
}
.btn-default {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
  background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  border-color: #ccc;
  color:#999;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active, .btn-default.active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}
.btn-default:active, .btn-primary:active, .btn-success:active, .btn-info:active, .btn-warning:active, .btn-danger:active, .btn-default.active, .btn-primary.active, .btn-success.active, .btn-info.active, .btn-warning.active, .btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #bbb;
  border-color: #adadad;
}
.attention{
  font-size: 2rem;
  color: #ddd;
}
.btn-group label{margin:0;}

.filter-box {
  margin-bottom: $row-space;
  .total-count-box {
    float:left;
    line-height: 1;
    font-size: 1rem;
    margin-bottom: $row-space-half-half;
    span{
      font-size: 1.5rem;
      font-weight: bold;
      color: $_em_text;
      text-align: center;
      text-shadow: 2px 2px 10px #f7cb47;
    }
  }
  .filter-list {
    width:50%;
    @media screen and (min-width: 320px) and (max-width: 543px){
      width:100%;
    }

    @media screen and (min-width: 545px) and (max-width: 767px){
      width:70%;
    }
    @media screen and (min-width: 768px) and (max-width: 991px){
      width:70%;
    }

    float: right;
    text-align: right;
    .sort {
      display: inline-block;
      margin-right: $row-space;
      .form-control{
        font-size: .7rem;
        height: 1.8rem;
      }
    }
    .order{
      display: inline-block;
      .form-control{
        font-size: .7rem;
        height: 1.8rem;
      }

    }
  }
}
.side {
  .side--menu-block {
    margin-bottom: $row-space-half;
    padding: $row-space-half-half;
    border: 1px solid $_em_text;
    .side--menu-inner {
      border: 1px solid $_em_text;
      margin-bottom: $row-space-half-half;
      a {
        color: $_brand-basic;
        display: block;
        padding: $row-space-half-half;

        &:hover{
          background-color: #fff;
          text-decoration: none;
        }
        &.active {
          background-color: #fff;
        }
      }
    }
  }
}
.sub-title {
  padding: 0.3rem;
  color: $_brand-basic;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#720e0a+0,020202+100,020202+100,f4f4f4+100 */
  background: #720e0a; /* Old browsers */
  background: -moz-linear-gradient(left,  #720e0a 0%, #020202 100%, #020202 100%, #f4f4f4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #720e0a 0%,#020202 100%,#020202 100%,#f4f4f4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #720e0a 0%,#020202 100%,#020202 100%,#f4f4f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#720e0a', endColorstr='#f4f4f4',GradientType=1 ); /* IE6-9 */
  margin-bottom: $row-space-half;
  border-left: 3px solid $_brand-basic;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .3px;
  line-height: normal;
  a{
    color: $_brand-basic;
  }
}

.btn-sm {
  padding: 0.25rem 0.5rem !important;
}
.pagination{
  a{
    padding: 0.275rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0 !important;
    margin: 0 .1rem;
    color: #ad9a58;
    background-color: transparent;
    border: 1px solid #ad9a58;
  }
  .current{
    background-color: #720e0a;
    border-color: #720e0a;
    display: inline-block;
    padding: 0.275rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
  }
}
.half-row {
  margin-right: -0.46875rem;
  margin-left: -0.46875rem;
}
.cast-select-active {
  opacity: 0.7;
  background: #720e0a;
}