.shop-page {
  .rank-box-last {
    margin-bottom: $row-space-biger;
  }
  .rank-box {
    margin-bottom: $row-space-biger;
    .filter-box {
      margin-bottom: $row-space;
      .total-count-box {
        float:left;
        line-height: 1;
        font-size: 1rem;
        margin-bottom: $row-space-half-half;
        span{
          font-size: 1.5rem;
          font-weight: bold;
          color: $_em_text;
          text-align: center;
          text-shadow: 2px 2px 10px #f7cb47;
        }
      }
      .filter-list {
        width:50%;
        @media screen and (min-width: 320px) and (max-width: 543px){
          width:100%;
        }

        @media screen and (min-width: 545px) and (max-width: 767px){
          width:70%;
        }
        @media screen and (min-width: 768px) and (max-width: 991px){
          width:70%;
        }

        float: right;
        text-align: right;
        .sort {
          display: inline-block;
          margin-right: $row-space;
          .form-control{
            font-size: .7rem;
            height: 1.8rem;
          }
        }
        .order{
          display: inline-block;
          .form-control{
            font-size: .7rem;
            height: 1.8rem;
          }

        }
      }
    }
    .genre-tag{
      width:100%;
      border-bottom: 1px solid $_brand-basic;
      li{
        float:left;
        width:50%;
        text-align: center;
        font-size: 2rem;
        a {
          display: block;
          color: #fff;
          &:hover {
            color: #E2D39F;
            text-shadow: 2px 2px 10px #f7cb47;
            text-decoration: none;
          }
          &.active{
            color: #E2D39F;
            text-align: center;
            position: relative;
            padding-bottom: 0.234375rem;
            border-bottom: 1px solid #E2D39F;
            margin: 0;
            text-shadow: 2px 2px 10px #f7cb47;
            border-bottom: 3px solid $_em_text_hover;
          }
        }

      }
    }

    .shop-list{
      padding: 0;
      list-style: none;
      li {
        float: left;
        margin-right: $row-space;
        position: relative;
        > span{
          padding: .5rem .5rem .2rem .6rem;
          background-color: #fff;
          margin-left: .5rem;
          position: absolute;
          right:0;
          top:0;
          z-index: 6;
          > i {
            color: #ddd;
            text-shadow: -1px -1px 0px #333, 1px 1px 1px #fff;
            &.active {
              color: #fd548d;
            }
          }
        }

        @media screen and (min-width: 320px) and (max-width: 543px){
          width:calc(50% - 0.46875rem);
          &:nth-child(2n) {
            margin-right: 0;
          }
        }

        @media screen and (min-width: 545px){
          width:calc(33.33333% - 0.633125rem);
          &:nth-child(3n) {
            margin-right: 0;
          }
        }
        a {
          display: block;
          opacity: 1;
          padding: 1px;
          overflow: hidden;
          position: relative;
          border: 1px solid $_em_text_hover;

          &:before{
            content:"";
            position: absolute;
            top: -85%;
            left: -30%;
            height: 100%;
            width: 100%;
            transform: rotate(-28deg);
            background-color: rgba(255,255,255,0.5);
            z-index: 5;
          }
          &:after{
            content:"";
            position: absolute;
            bottom: -85%;
            right: -30%;
            height: 100%;
            width: 100%;
            transform: rotate(-28deg);
            background-color: rgba(255,255,255,0.5);
            z-index: 5;
          }
          img{
            -webkit-transition: all .6s ease;
            -moz-transition: all .6s ease;
            -o-transition: all .6s ease;
            width: 100%;

          }
          &:hover {
            &:after,&:before{
              background-color: rgba(255,255,255,0.3);
            }
            img {
              opacity: .5;
            }
          }
        }
        .shop-info {
          //padding: $row-space-half;
          text-align: center;
          .name {
            margin: 0;
            font-size: 1rem;
            border-bottom: 1px solid $_basic-title;
            padding-bottom: $row-space-half-half;
            margin-top: $row-space-half;
            margin-bottom: $row-space-half;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width:100%;
            height:1.3rem;
          }
          .cast-count {
            font-size: 1rem;
            color:rgb(173,111,221)
          }
          .body ,.rank {
            font-size: .7rem;
            .favorid,  .support, .has-girls{
              .title {
                float:left;
                text-align: left;
                font-size: .7rem;
                margin: 0;
              }
              .count {
                float:right;
                text-align: right;
                font-size: 1rem;
                color: $_em_text_hover;
                font-weight: bold;
                margin: 0;
                line-height: 1;
              }
            }
          }
        }
      }
    }
  }

}
.shop-detail-page {
  .shop-list{
    padding: 0;
    list-style: none;
    li {
      float: left;
      margin-right: $row-space;
      @media screen and (min-width: 320px) and (max-width: 543px){
        width:calc(50% - 0.46875rem);
        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      @media screen and (min-width: 545px){
        width:calc(33.33333% - 0.633125rem);
        &:nth-child(3n) {
          margin-right: 0;
        }
      }
      a {
        display: block;
        opacity: 1;
        padding: 1px;
        overflow: hidden;
        position: relative;
        border: 1px solid $_em_text_hover;

        &:before{
          content:"";
          position: absolute;
          top: -85%;
          left: -30%;
          height: 100%;
          width: 100%;
          transform: rotate(-28deg);
          background-color: rgba(255,255,255,0.5);
          z-index: 5;
        }
        &:after{
          content:"";
          position: absolute;
          bottom: -85%;
          right: -30%;
          height: 100%;
          width: 100%;
          transform: rotate(-28deg);
          background-color: rgba(255,255,255,0.5);
          z-index: 5;
        }
        img{
          -webkit-transition: all .6s ease;
          -moz-transition: all .6s ease;
          -o-transition: all .6s ease;
          width: 100%;

        }
        &:hover {
          &:after,&:before{
            background-color: rgba(255,255,255,0.3);
          }
          img {
            opacity: .5;
          }
        }
      }
      .shop-info {
        //padding: $row-space-half;
        text-align: center;
        .name {
          margin: 0;
          font-size: 1rem;
          border-bottom: 1px solid $_basic-title;
          padding-bottom: $row-space-half-half;
          margin-top: $row-space-half;
          margin-bottom: $row-space-half;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width:100%;
          height:1.3rem;
        }
        .cast-count {
          font-size: 1rem;
          color:rgb(173,111,221)
        }
        .body ,.rank {
          font-size: .7rem;
          .favorid,  .support, .has-girls{
            .title {
              float:left;
              text-align: left;
              font-size: .7rem;
              margin: 0;
            }
            .count {
              float:right;
              text-align: right;
              font-size: 1rem;
              color: $_em_text_hover;
              font-weight: bold;
              margin: 0;
              line-height: 1;
            }
          }
        }
      }
    }
  }
  .res-form-table{
    th{
      width:30%;
      text-align: left;
    }
    td{
      text-align: left;
      img{
        width: 8rem;
      }
    }
  }
  .top-view-box {
    width: 100%;
    text-align: center;
    position: relative;
    .shop-cover-wrap {
      position: relative;
      height: 400px;
      text-align: center;
      background-position: center;
      background-repeat: repeat, repeat;
      transform: scale( -1, 1);
      -o-transform: scale( -1, 1);
      -ms-transform: scale( -1, 1);
      -moz-transform: scale( -1, 1);
      -webkit-transform: scale( -1, 1);
      filter: fliph();
      -ms-filter: fliph();
      .shopCover {
        background-color: #fff;
        width: 100%;
        position: absolute;
        top: 0;
        height: 100%;
        opacity: 0.7;
      }
      img {
        position: absolute;
        height: 400px;
        transform: scale( -1, 1);
        -o-transform: scale( -1, 1);
        -ms-transform: scale( -1, 1);
        -moz-transform: scale( -1, 1);
        -webkit-transform: scale( -1, 1);
        filter: fliph();
        -ms-filter: fliph();
        right: 0;
        left: 0;
        margin: 0 auto;
      }
    }
  }
  .shop-nav--list {
    list-style: none;
    padding: 0;
    margin: 0;
    width:100%;
    display: table;
    li {
      display:table-cell;
      text-align: center;
      border-right: 1px solid $gray-dark;
      @media screen and (min-width: 320px) and (max-width: 767px){
        display: block;
        width: 50%;
        float: left;
        border-bottom: 1px solid $gray-dark;
        border-left: 1px solid $gray-dark;
      }
      @media screen and (min-width: 768px) and (max-width: 991px){
        display: block;
        width: 33.3333%;
        float: left;
        border-bottom: 1px solid $gray-dark;
        border-left: 1px solid $gray-dark;
      }

      h3 {
        margin:0;
        font-size: 1.4rem;
      }
      a {
        padding:.2rem .2rem;
        color: $_em_text;
        display: block;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        &:hover ,
        &:focus,
        &.active{
          text-decoration: none;
          color: $_em_text_hover;
          background-color: rgba(55,58,60,0.5)
        }
      }
    }
  }
  .shop-top-box{
    margin-top: $row-space-biger;
    text-align: center;
    .shop-name {
      color: $_em_text;
      font-size: 2rem;
      display: inline-block;
      padding: $row-space;
      border-bottom: 1px solid $_em_text_hover;
      background-color: #000;
    }
    .shop-tags {
      .btn {
        color: $_em_text;
        border-radius: 0;
        &:hover{
          background-color: #222;
          text-shadow: 2px 2px 10px #f7cb47;
        }
      }
    }
    .shop-copy{
      line-height: 2rem;
      font-size:1.5rem;
      font-weight: bold;
      margin-top: $row-space;
      color: #E2D39F;
      text-align: center;
      position: relative;
      padding-bottom: 0.234375rem;
      margin: 0;
      text-shadow: 2px 2px 10px #f7cb47;
    }
    .shop-button-box {
      margin-top: $row-space-bog;
      .favorite, .support{
        padding:0;
        width: 49%;
      }
      .favorite{
        float:left;
      }
      .support{
        float:right;
      }
      .favorite, .support {
        a {
          width: 100%;
          display: block;
          border: 3px solid #E2D39F;
          color: #E2D39F;
          margin-top: 0.46875rem;
          border-radius: 0;
          &:hover, &:focus, &.active {
            border-color: $_basic_text;
            color: $_basic_text;
            background-color: $_brand-basic;
          }

        }
      }
    }

  }
  .shop-new-face, .shop-cast, .shop-system, .shop-map {
    margin-top: $row-space-bigest;
  }
  .shop-map {
    margin-bottom: $row-space-bigest;
    .shop-map--info-box {
      padding: $row-space-half-half;
      border: 1px solid $_em_text;
      .shop-map--info-wrap {
        padding: $row-space;
        border: 1px solid $_em_text;
        .shop-name-titlt {
          text-align: center;
          .shop-map--info-name {
            color: $_em_text;
            font-size: 2rem;
            display: inline-block;
            padding: $row-space;
            border-bottom: 1px solid $_em_text_hover;
          }
        }
        .profile {
          @media screen and (min-width: 320px) and (max-width: 543px){
            dt {
              font-weight : bold;
              padding : .5rem;
              background-color:#222 ;
              color:$_em_text;
            }
            dd {
              padding : .5rem;
              label {
                margin-right:$row-space;
                span{margin-right:$row-space-half}
              }

            }
          }

          @media screen and (min-width: 545px) and (max-width: 767px){
            dt {
              font-weight : bold;
              padding : .5rem;
              background-color:#222 ;
              color:$_em_text;
            }
            dd {
              padding : .5rem;
              label {
                margin-right:$row-space;
                span{margin-right:$row-space-half}
              }

            }

          }
          @media screen and (min-width: 768px) and (max-width: 991px){
            dt {
              float : left;
              clear : both;
              width : 30%;
              font-weight : bold;
              padding : .5rem;
              background-color:#222 ;
              color: $_em_text;
            }
            dd {
              margin-left : 30%;
              padding : .5rem;
              label {
                margin-right:$row-space;
                span{margin-right:$row-space-half}
              }

            }

          }

          @media screen and (min-width: 992px) and (max-width: 1199px){
            dt {
              float : left;
              clear : both;
              width : 20%;
              font-weight : bold;
              padding : .5rem;
              background-color:#222 ;
              color: $_em_text;
            }
            dd {
              margin-left : 20%;
              padding : .5rem;
              label {
                margin-right:$row-space;
                span{margin-right:$row-space-half}
              }

            }

          }

          @media (min-width: 1200px) {
            dt {
              float : left;
              clear : both;
              width : 30%;
              font-weight : bold;
              padding : .5rem;
              background-color:#222 ;
              color: $_em_text;
            }
            dd {
              margin-left : 30%;
              padding : .5rem;
              label {
                margin-right:$row-space;
                span{margin-right:$row-space-half}
              }

            }

          }
        }
      }

    }
  }
  .profile-box {
    margin-top: $row-space-bigest;
    position: relative;
    overflow: hidden;
    .profile-list {
      position: relative;
      overflow: hidden;
      width:100%;
      li {
        @media screen and (min-width: 320px) and (max-width: 543px){
          width: calc(100% - 2px);
        }

        @media screen and (min-width: 545px) and (max-width: 767px){
          width: calc(50% - 4px);
        }
        @media screen and (min-width: 768px) and (max-width: 991px){
          width: calc(50% - 4px);
        }

        @media screen and (min-width: 992px) and (max-width: 1199px){
          width: calc(33.3333% - 4px);
        }

        @media (min-width: 1200px) {
          width: calc(33.3333% - 4px);
        }


        margin: 2px;
        display: block;
        padding: $row-space;
        border: 1px solid #999;
        h3 {
          font-size: 1.1rem;
          font-weight: bold;
          border-bottom: 1px solid #999;
          padding: $row-space-half;
          margin-bottom: $row-space-half;
          background-color: #222;
          color: $_brand-basic;
          position: relative;
          &:before {
            font-family: FontAwesome;
            content: "\f00c";
            display: inline-block;
            padding-right: $row-space-half;
            vertical-align: initial;
            color: $_brand-basic;
            font-size:1.1rem;
          }

        }
        p {
          font-size: 1rem;
          line-height: 1.4em;
          color: $white;
          padding: 4px;
        }
      }
    }
  }
  .center-button {
    text-align: center;
    margin: $row-space-bog auto 0;
  }
  .btn-submit {
    background-color: $_sub_text;
    color: $_em_text_hover;
    font-weight: bold;
    &:hover {
      opacity: .7;

    }
  }

}