$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #cdcdcd !default;
$gray-lightest:             #f7f7f9 !default;
$white:                     #fff    !default;

$_brand-light:              #28BCFC !default;
$_brand-light:              #28BCFC !default;
$_brand-darker:             #0071A2 !default;
$_brand-darkest:            #00597F !default;
$_main-border:              #cdcdcd !default;

$_brand-basic:              #78909c !default;
$_basic_background:         #f8f8f8 !default;
$_basic_background-darke:   #999 !default;
$_basic_text:               #2c2c2c !default;
$_basic-border:             #999 !default;
$_basic-shadow:             inset 0 0 0 1px #eee !default;
$_basic-radius:             2px !default;
$_basic-title:              #a5a7aa !default;

$row-space: 0.9375rem;
$row-space-half: 0.46875rem;
$row-space-half-half: 0.234375rem;