.account-page {
  .account-filters {
    margin-top: $row-space;
    border:1px solid $_basic-border;
    background-color: $gray-lightest;
    padding: $row-space 0;
    margin-bottom: .5rem;
    .form-control-ls {
      height:2.5rem;
    }
    .from {
      width: 45%;
      float: left;
    }
    .between {
      width: 10%;
      float: left;
      text-align: center;
      position: relative;
      top: .5rem;
    }
    .to {
      width: 45%;
      float: left;
    }
    .checkbox-space {
      margin-right: $row-space-half;
      span {
        margin-left: $row-space-half-half;
      }
    }
    @media screen and (max-width: 535px) {
      .from, .to {
        width: 100%;
      }
      .between {
        width: 100%;
        text-align: center;
        top: 0;
        span {
          display: inline-block;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg);
        }
      }
    }
  }
  .optional-box {
    margin-top: $row-space;
  }
  .list {
  }
  .btn-center {
    text-align: center;
    .rounded-btn {
      padding: 0 2rem;
      margin-right: 1rem;
    }
  }
  .button-center {
    text-align: center;
    margin: 1rem auto;
    width: 150px;
  }

}
